
body
{
    padding: 0;
    margin: 0;
}
.header
{
    display: flex;
    justify-content: center;
    background-color: black;
}


ul > li
{
    display: inline-block;
    margin: 10px;
    background-color: black;
    padding: 20px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

li:hover
{
    background-color: rgb(255, 208, 0);
    color: black;
    transition: 0.8s;
}

main
{   
    width: 100%;   
    display: flex;
    justify-content: center;
}

.sectionTwo
{ 
    width:  400px;
    height: 400px;     
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    text-align: justify;
}
.sectionOne
{
    margin-top: 20px;         
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.sectionTwo:hover
{
    background-color: black;
    cursor: pointer;
    color: white;
    transition: 0.8s;
}